.wrapper {
/*   overflow: hidden; */
  width: 100%;
}

.main {
  max-width: 97em;
  margin: 0 auto;
  padding: 2%;
  height: 100%;
  @include breakpoint(small) {
    float: left;
    width: 80%;
  }
  @include breakpoint(large) {
    width: 70%;
    margin-left: 5%;
  }
}

article {
  // padding: 0.5em 2%;
  margin-bottom: 2em;
}

.new-user {
  @extend %listborder;
  padding-bottom: 1em;
  @include breakpoint(medium) {
    border-bottom: 0;
    float: left;
    margin-top: 1em;
    width: 45%;
  }
}

.registered-users {
  @include breakpoint (medium) {
    float: left;
    @include vertical-border(left);
    margin-top: 1em;
    padding-left: 2%;
    width: 45%;
  }
}

.std {
  font-family: "clear_sansregular";
  font-size: 1em;
  margin-top: 0.3em;
  margin-bottom: 1.2em;
}

.box {
  h4 {
    margin-top: 1em;
  }
}

.add-info {
  dt {
    margin-top: .6em;
  }
  dd {
    margin-left: .2em;
  }
  ul {
    padding-left: 0;
    li {
      margin-bottom: .3em;
    }
  }
}

.buybutton-mobile {
  text-align: center;
  input {
    width: 20%;
  }
  @include breakpoint(medium) {
    display: none;
  }
}

// Image group on index page
.index-banner-group {
  // border: 1px solid red;
}

.index-banner-left {
  border: 2px solid #ffffff;
  @include breakpoint(small) {
    float: left;
    width: 66.66666%;
  }
}

.index-banner-right {
  border: 2px solid #ffffff;
  @include breakpoint(small) {
    float: left;
    width: 33.33333%;
  }
}

.index-banner-item {
  margin-top: 0;
  margin-bottom: 0;
}
