section {
  // border: 1px dotted blue;
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em
  }
  margin: 1em auto;
  width: 90%;
}

.product-essential {
  // background-color: green;
}

.product-shop {
//  border: 1px dotted red;
}

.product-img-box {
  text-align: center;
}

.category-image {
  text-align: center;
}

#upsell-product-table {
  margin-top: .4em;
  h3 {
    font-size: 1em;
  }
  td {
    padding-right: .8em;
  }
}

.short-description {
  p {
    font-size: 1.4em;
  }
  @include breakpoint(medium) {
    float: left;
    width: 60%;
  }
  @include breakpoint(big) {
    width: 50%;
  }
}

.short-links {
  margin: 1em auto; // old margin-top: 1em
  width: 80%;
  @include breakpoint(medium) {
    float: right;
    margin-top: 0;
    width: 35%
  }
}

.add-to-box, .product-options-bottom {
  // background-color: lightblue;
  text-align: center;
  @extend %dotted-boxborder;
  input[type=text],
  input[type=number] {
    font-family: 'clear_sansbold';
    width: 25%;
  }
  .add-to-links {
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline-block;
    }
  }
  .btn-cart {
    margin-top: 1em;
    @include breakpoint(small) {
      margin-top: 0;
    }
  }
}

.no-display {
  display: none;
}

.tier-prices {
  padding-left: 0;
  li {
    margin-bottom: .6em;
  }
}

/* Rating and review */
.review-product-list {
  .short-links {
    // background-color: yellow;
  }
  .add-to-box {
    @include breakpoint(medium) {
      float: left;
      margin: 0;
      width: 60%;
    }
  }
}
.box-reviews {
  dd {
    margin-bottom: 1rem;
  }
}

#product-review-table {
  margin-top: 1em;
  thead {
    display: table-header-group;;
  }
}

.form-add {
  fieldset {
    padding: 0;
  }
}

.form-list {
  .input-box {
    margin: .5em 0 1em 0;
    width: 85%;
  }
  textarea {
    padding: 0.65rem 1rem;
    font-size: 1rem;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    border-radius: .4em;
    width: 100%;
  }
}

.no-rating {
  margin:0;
}

.ratings {
  font-size:11px;
  line-height:1.25;
  margin:7px 0;
}

.ratings strong {
  float:left;
  margin:1px 3px 0 0;
}

.ratings {
  .rating-links {
    margin: 0;
    p {
      font-size: .7rem;
    }
  }
}

.ratings .rating-links .separator {
  margin:0 2px;
}

.ratings dt {}
.ratings dd {}
.rating-box {
  width:69px;
  height:13px;
  font-size:0;
  line-height:0;
  background:url(../images/bkg_rating.gif) 0 0 repeat-x;
  text-indent:-999em;
  overflow:hidden;
}

.rating-box .rating {
  float:left;
  height:13px;
  background:url(../images/bkg_rating.gif) 0 100% repeat-x;
}
  
.ratings .rating-box {
  float:left;
  margin-right:3px;
}

.ratings .amount {}

.ratings-table th,
.ratings-table td {
  font-size: .8rem;
  line-height: 1.15;
  padding: 3px 0;
}

.ratings-table th {
  font-weight:bold;
  padding-right:8px;
}