.sidebar {
  //background-color: lighten($sidebarbg, 10%);
  // text-align: center;
  padding-bottom: 2em;
  @include breakpoint(small) {
    @include vertical-border(right);
    text-align: left;
    float: left;
    padding-top: 7%;
    width: 20%;
  }
  @include breakpoint(medium) {
    padding-top: 5%;
  }
  @include breakpoint(large) {
    padding-top: 8%;
  }
  @include breakpoint(big) {
    padding-top: 10%;
  }
  @include breakpoint(mega) {
    padding-top: 12%;
  }
}

.logo {
  @include boxshadow;
  // line-height: 10em;
  padding: 2em .8em;
  background-color: $logobg;
  border-bottom: 3px darken($logobg, 40%) solid;
  min-height: 10em; // behövs detta????
  text-align: center;
  &.img {
    max-width: 75% !important;
  }
  @include breakpoint(small) {
    min-height: 14em;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: 20%;
  }
  @include breakpoint(medium) {
    padding: 1em 1em;
    min-height: 16em;
    img {
      width: 80%;
      // margin-top: 30%;
    }
  }
}

.layernav {
  @extend %dotted-boxborder;
}

#narrow-by-list {
  font-size: 1rem;
  @include breakpoint(small) {
    font-size: .8rem;
  }
  dt {
    font-weight: bold;
    margin-left: 0;
  }
  dd {
    padding-left: .3em;
    margin-left: 0;
  }
  ol {
    margin-top: 0;
    padding: 0;
  } 
}

.recent {
  @extend %dotted-boxborder;
  .mini-products-list li {
    border: 0;
  }
}

.block-reorder {
  @extend %dotted-boxborder;
  ol {
    padding-left: 0;
  }
}

.mini-products-list {
  ol {
    display: block;
    border: 1px solid #999;
  }
  li {
    @include vertical-border(bottom);
    display: inline-block;
    margin-bottom: 1em;
    padding-right: .6em;
    padding-left: .6em;
    width: auto;
  }
  .btn-remove, .btn-edit {
    @extend %add-to-links;
    margin-right: .4em;
  }
  @include breakpoint(small) {
    li {
     @include vertical-border(right);
     border-bottom: none; 
   }
 }
 .link-wishlist {
  @extend %add-to-links;
  background-color: $footerbg;
}
}

#block-related, #recently-viewed-items, #compare-items {
  padding: 0;
  li {
    @include vertical-border(bottom);
    border-right: none;
    border-bottom-color: $footerbg;
  }
}

.paypal-logo {
  margin-top: 1em;
}

