.header {
  background-color: $headerbg;
  position: relative;
  @include breakpoint(small) {
    padding-left: 22%;
  }
}

.search {
  // background-color: #eec8fa;
  // padding: 10px;
  margin-top: 1.5em;
  text-align: center;
  margin-bottom: 1em;
  @include breakpoint(small) {
    float: left;
    margin-left: 2.5em;
    margin-right: 2em;
  }
  @include breakpoint(medium) {
    float: left;
    margin-left: 1em;
    margin-right: 0.2em;
  }
}

.linksblock {
  background-color: lighten($logobg, 20%);
  padding: 1em 1em .6em 1em;
  @include breakpoint(small) {
    position: relative;
    float: right;
    width: 13em;
    margin-top: -5.2em;
  }
  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.accountlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    @include button-border-light;
    margin-bottom: 0.8em;
    margin-right: 2.5%;
    display: inline-block;
    padding-left: .1em;
    padding-right: .1em;
    width: 45%;
    text-align: center;
    line-height: 2em;
    &:a {
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @include breakpoint(extra-small) {
    li {
      width: 17%;
    }
  }
  @include breakpoint(small) {
    float: none;
    li {
        border: 0;
        display: block;
        line-height: 1.2em;
        text-align: left;
        width: 80%;
      &:a {
      }
    }
  }
}

.cart {
/*  background-color: lighten($headerbg, 20%);*/
  @include borderradius(0.5em);
  border: 1px dotted lighten($headerbg, 20%);
  color: $footerbg;
  text-align: center;
  width: 60%;
  margin: 2em auto;
  min-height: 4em;
  padding: 0.5em;
  position: relative;
  a {
    color: #fff;
    border-bottom: 1px dotted lighten($logobg, 20%);
  }
  @include breakpoint(small) {
    // background-color: red;
    float: left;
    font-size: .8em;
    margin: 0 0 0 3em;
    text-align: left;
    width: 45%;
  }
  @include breakpoint(medium) {
    // background-color: blue;
    margin: 2em .3em;
    width: 25%;
  }
  @include breakpoint(large) {
    // background-color: green;
    margin-left: 10%;
  }
  @include breakpoint(big) {
    // background-color: yellow;
    margin-left: 30%;
  }
}

.cartimage {
  position: absolute;
  top: .6em;
  right: .6em;
}

