.wrapper {
  // background-color: yellow;
  // height: 100%;
  overflow: hidden;
  width: 100%;
}

.main {
  max-width: 63em;
  // background-color: #dcd7d7;
  margin: 0 auto;
  padding: 2%;
  height: 100%;
  @include breakpoint(small) {
    float: left;
    width: 78%;
    margin-left: 2%;
    padding: 0;
  }
  @include breakpoint(large) {
    width: 70%;
    margin-left: 3%;
  }
  @include breakpoint(big) {
    margin-left: 10%;
    width: 100%;
  }
}

article {
  // padding: 0.5em 2%;
  margin-bottom: 2em;
}

.new-user {
  @extend %listborder;
  padding-bottom: 1em;
  @include breakpoint(medium) {
    border-bottom: 0;
    float: left;
    margin-top: 1em;
    width: 45%;
  }
}

.registered-users {
  @include breakpoint (medium) {
    float: left;
    @include vertical-border(left);
    margin-top: 1em;
    padding-left: 2%;
    width: 45%;
  }
}

.box {
  h4 {
    margin-top: 1em;
  }
}
