/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:13px; color:#0a263c; }
.block-progress .block-content { background:none; }
.block-progress dt { font-size:13px; font-weight:bold; line-height:1.35; background:#eee; border:1px solid #a3aeb3; margin:0 0 6px; padding:2px 8px; color:#999; }
.block-progress dd { background:#eee; border:1px solid #a3aeb3; border-top:0; padding:8px 13px; margin:0 0 6px; }
.block-progress dt.complete { margin:0; background:#d0dce1; color:#5e8ab4; }
.block-progress dd.complete {}
.block-progress p { margin:0; }
.block-progress .cards-list dt { background:none; border:0 none; color:inherit; font-size:12px; margin:5px 0; padding:0; }
.block-progress .cards-list dd { border:0 none; margin:0; padding:0; }
.block-progress .cards-list .info-table th { font-weight:normal; }

/* show/hide "change" link for progress step depend on complete status
* should be placed in .css file */
.opc-block-progress dt.complete a,
.opc-block-progress dt.complete .separator { display: inline; }
.opc-block-progress dt a,
.opc-block-progress dt .separator { display: none; }

.opc .buttons-set {
  margin-top:0;
  // padding-top:2em;
}
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small {
  // display:none;
}
.opc .buttons-set .back-link a {
  // background:url(../images/i_arrow-top.gif) 0 50% no-repeat; 
  // padding-left:16px;
  // text-align: right;
  padding: .2em;
}

.back-link {
  @extend %add-to-links;
  margin-left: 3em;
  text-align: right;

}

.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc {
  position: relative;
  width: 100%;
}
.opc li.section {}

.opc .step-title {
  // border-width:0 1px;
  // border-style:solid;
  // border-color:#fff #d9dde3 #d9dde3;
  // background:#eee;
  padding: .2em 0;
  text-align: left;
}

.opc .step-title .number {
  // float:left;
  background:#fff;
  border:1px solid #fff;
  display: inline-block;
  padding:0 4px;
  margin:0 5px 0 0;
}

.opc .step-title h2 {
  // float:left;
  margin:0;
  font-size: 1em;
  display: inline-block;
  // font:bold 13px/16px Arial, Helvetica, sans-serif;
  color:#999;
}
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title {
  // background:#d0dce1;
  // border:1px solid #a3aeb3;
  // border-bottom:0;
  color:#a4b3b9;
  cursor:pointer;
}

.opc .allow .step-title .number {
  background: $footerbg;
  border-radius: 50%;
  padding: .3em;
  padding-left: .7em;
  border: 0;
  color: #000;
  width: 2em;
}

.opc .allow .step-title h2 { color:#a4b3b9; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title {
  padding-bottom: .5em;
  cursor:default;
}

.opc .active .step-title .number {
  background: $logobg;
  border-radius: 50%;
  padding: .3em;
  padding-left: .7em;
  border: 0;
  color: #000;
  width: 2em;
}

.opc .step-title .number {
  background: lighten($logobg, 25%);
  border-radius: 50%;
  padding: .3em;
  padding-left: .7em;
  border: 0;
  color: #000;
  width: 2em;
}

.opc .active .step-title h2 {
  // color: #f18200;
}
/*.opc .active .step-title a { display:none; }*/

.opc .step {
  @extend %dotted-boxborder;
  position: relative;
}

.form-list {
  padding-left: 0;
}

#checkoutSteps {
  .col2-set {
    .radio {
      margin-right: .6em;
    }
    label {
      display: inline-block;
      // margin-left: .6em;
    }
    // border: 2px solid black;
    input[type=text],
    input[type=password],
    input[type=email] {
      width: 100%;
    }
  }
  .col-1 {
    // background-color: lightblue;
    @include breakpoint(small) {
      float: left;
      width: 45%;
    }
  }
  .col-2 {
    // background-color: red;
    @include breakpoint(small) {
      float: right;
      width: 45%;
    }
  }
}

.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 {
  font-size: 1em;
  // font-weight:bold;
  margin:0;
  // color:#2f2f2f;
}

#opc-shipping_method .buttons-set {
  border-top:0;
}

.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

// #opc-review .step {
//   border:0;
//   padding:0;
// }

// #opc-review .product-name {
//   font-weight: bold;
//   color: $headlines;
// }

#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set {
  padding:20px 30px; 
  // border:1px solid #d9dde3; 
  // border-width:0 1px 1px;
}
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

/* Multiple Addresses Checkout */
.checkout-progress {
  // padding:0 90px;
  // margin:0 0 20px;
  margin: .5em auto;
  width: 80%;
}
.checkout-progress li {
  float:left;
  font-size: .7em; 
  width: 10%; 
  margin: 0 10% 0 0; 
  border-top:10px solid #999; 
  padding:2px 0 0; 
  // font-weight:bold; 
  text-align:center; 
  color:#abb5ba;
}
.checkout-progress li.active { border-top-color:#e96200; color:#e96200; }

.multiple-checkout h2 { font-size:13px; font-weight:bold; margin:0 0 10px; }
.multiple-checkout h3,
.multiple-checkout h4 { font-size:13px; font-weight:bold; color:#E26703; }
.multiple-checkout h2 a,
.multiple-checkout h3 a,
.multiple-checkout h4 a { font-weight:normal; }
.multiple-checkout .data-table .product-name { font-size:1em !important; font-weight:bold !important; color:#1e7ec8 !important; }
.multiple-checkout .data-table .product-name a { font-weight:bold !important; }
.multiple-checkout .data-table .item-options { margin:5px 0 0; }

.multiple-checkout .gift-messages { margin:15px 0 0; }

.multiple-checkout .tool-tip { top:50%; margin-top:-120px; right:20px; }

.multiple-checkout .col2-set,
.multiple-checkout .col3-set { background:#fbfaf6 url(../images/bkg_checkout.gif) 0 0 repeat-x; border:1px solid #bbb6a5; margin:0 0 25px; padding:20px; }
.multiple-checkout .col2-set h2.legend { margin:-20px -20px 15px; padding:5px 10px; background:#f9f3e3; border-bottom:1px solid #bbafa0; position:relative; }
.multiple-checkout .col2-set h3.legend { margin:0 0 10px; color:#0a263c; }
.multiple-checkout .col2-set .divider { margin:0 -20px; padding:25px 0; position:relative; }
.multiple-checkout .box { margin:0 0 15px; }
.multiple-checkout .box h2 { color:#e26703; }

.multiple-checkout .place-order .please-wait { float:right; padding:27px 7px 0 0; }
.multiple-checkout .place-order .grand-total { float:right; height:71px; font-size:1.5em; padding:0 0 0 21px; background:url(../images/bkg_grand-total.gif) 0 0 no-repeat; overflow:hidden; }
.multiple-checkout .place-order .grand-total .inner { float:left; height:57px; padding:14px 21px 0 0; background:url(../images/bkg_grand-total.gif) 100% 0 no-repeat; }
.multiple-checkout .place-order .grand-total .inner div { display:inline; }
.multiple-checkout .place-order .grand-total big { display:inline; margin-right:12px; }
.multiple-checkout .place-order .grand-total .price { color:#E26703; }
.multiple-checkout .place-order .grand-total button.button span { font-size:16px; }
.multiple-checkout .place-order .grand-total button.button span span { padding:0 45px 0 36px; }

/* Step 1 */
.multiple-checkout .title-buttons button.button span {
  // border-color:#406a83;
  // background:#618499;
}

#multiship-addresses-table td { padding:10px; }
#multiship-addresses-table tfoot td { padding:5px 10px; }
#multiship-addresses-table tfoot button.button span {
  // border-color:#406a83;
  // background:#618499;
}

/* Step 2 */
.multiple-checkout .gift-messages-form .item .details .form-list {
  width:100%;
  overflow:hidden;
}

.multiple-checkout .gift-messages-form .item .details .form-list li { margin-right:-15px; }
.multiple-checkout .gift-messages-form .item .details .form-list .field { width:230px; }
.multiple-checkout .gift-messages-form .item .details .form-list .input-box { width:215px; }
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text { width:209px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box { width:445px; }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea { width:439px; }
.checkout-multishipping-shipping .box-sp-methods { border:1px solid #d9d2be; background:#f9f3e3; padding:13px; position:relative; }
.checkout-multishipping-shipping .box-sp-methods .pointer { position:absolute; top:-20px; right:-40px; width:178px; height:41px; background:url(../images/bkg_sp-methods.gif) 0 0 no-repeat; overflow:hidden; }

/* Step 3 */
.checkout-multishipping-billing .multiple-checkout { position:relative; }
/* ======================================================================================= */


/* Account Login/Create Pages ============================================================ */
.account-login .content { min-height:345px; padding:14px 21px; background:#faf7ee url(../images/bkg_login-box.gif) 0 0 repeat-x; border:1px solid #bbb6a5; border-bottom:0; }
.account-login .content h2 { font-weight:bold; font-size:13px; margin:0 0 14px; padding:0 0 5px 23px; border-bottom:1px solid #ddd; background-position:0 1px; background-repeat:no-repeat; text-transform:uppercase; color:#e76200; }
.account-login .new-users h2 { background-image:url(../images/i_page1.gif)}
.account-login .registered-users h2 { background-image:url(../images/i_page2.gif); }
.account-login .buttons-set { border:1px solid #bbb6a5; border-top:0; margin:0; padding:8px 13px; background:#dee5e8 url(../images/bkg_buttons-set1.gif) 0 0 repeat-x; }

.account-create {}

/* Captcha ================================================================================ */
.captcha-note      { clear:left; padding-top:5px; }
.captcha-image     { float:left; display:inline;  margin:0; position:relative; width:258px; }
.captcha-image .captcha-img { border:1px solid #b6b6b6; vertical-align:bottom; width:100%; }
.registered-users .captcha-image { margin:0;}
.captcha-reload { cursor:pointer; position:absolute; top:2px; right:2px;}
.captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }

@-webkit-keyframes rotate {
  0% { -webkit-transform:rotate(0); }
  0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
  0% { -moz-transform:rotate(0); }
  0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
  0% { transform:rotate(0); }
  0% { transform:rotate(-360deg); }
}

/* Remember Me Popup ===================================================================== */
.window-overlay { background:url(../images/window_overlay.png) repeat; background:rgba(0, 0, 0, 0.35); position:absolute; top:0; left:0; height:100%; width:100%; z-index:990; }

.remember-me label { float:none; margin:0 6px; }
.remember-me-popup { background:#fff; border:1px solid #ccc; left:50%; top:50%; position:absolute; margin:-85px 0 0 -200px; width:400px; text-align:left; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; -box-shadow:0 0 6px #ccc; z-index:1000; }
.remember-me-popup h3 { background:#d9e5ee; border-bottom:1px solid #ccc; font-size:14px; padding:5px 10px; }
.remember-me-popup .remember-me-popup-head { position:relative; }
.remember-me-popup .remember-me-popup-head .remember-me-popup-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:7px; right:7px; height:15px; width:15px; text-indent:-9999em; }
.remember-me-popup .remember-me-popup-body { padding:10px; }
.remember-me-popup .remember-me-popup-body a { display:inline-block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; white-space:nowrap; color:#fff; }
/* Remember Me Popup ===================================================================== */
