section {
  // background-color: #aaa;
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em
  }
  margin: 1em auto;
  width: 90%;
}

.product-essential {
  // background-color: green;
}

.product-shop {

}

#upsell-product-table {
  margin-top: .4em;
  h3 {
    font-size: 1em;
  }
}

.short-description {
  p {
    font-size: 1.4em;
  }
  @include breakpoint(medium) {
    float: left;
    width: 60%;
  }
  @include breakpoint(big) {
    width: 50%;
  }
}

.short-links {
  // background-color: #aaa;
  margin-top: 1em;
  @include breakpoint(medium) {
    float: right;
    margin-top: 0;
    width: 35%
  }
}

.add-to-box, .product-options-bottom {
  // background-color: lightblue;
  text-align: center;
  @extend %dotted-boxborder;
  input[type="text"] {
    width: 25%;
  }
  .add-to-links {
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline-block;
    }
  }
  .btn-cart {
    margin-top: 1em;
    @include breakpoint(small) {
      margin-top: 0;
    }
  }
}

.no-display {
  display: none;
}