.sidebar {
  //background-color: lighten($sidebarbg, 10%);
  text-align: center;
  padding-bottom: 2em;
  border-top: 1px solid $headerbg;
  @include breakpoint(small) {
    @include vertical-border(right);
    text-align: left;
    // position: relative;
    /* top: -10em; */
    float: left;
    // padding-bottom: 30%;
    width: 20%;
  }
  @include breakpoint(medium) {
    // top: -11em;
    
  }
}

.logo {
  @include boxshadow;
  padding: 2em .3em;
  background-color: $logobg;
  height: 15.62em; // behövs detta????
  text-align: center;
  @include breakpoint(small) {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    width: 20%;
  }
}

.layernav {
  @extend %dotted-boxborder;
}

#narrow-by-list {
  font-size: 1em;
  @include breakpoint(small) {
    font-size: .8em;
  }
  dt {
    font-weight: bold;
    margin-left: 0;
  }
  dd {
    padding-left: .6em;
    margin-left: 0;
  }
  ol {
    margin-top: 0;
    padding: 0;
  } 
}

.recent {
  @extend %dotted-boxborder;
}

.block-reorder {
  @extend %dotted-boxborder;
  ol {
    padding-left: 0;
  }
}

.mini-products-list {
  ol {
    display: block;
    border: 1px solid #999;
  }
  li {
    @include vertical-border(bottom);
    /* border: 1px solid #999; */
    display: inline-block;
    margin-bottom: 1em;
    padding-right: .6em;
    padding-left: .6em;
    width: auto;
  }
  .btn-remove, .btn-edit {
    @extend %add-to-links;
    margin-right: .4em;
  }
  @include breakpoint(small) {
    li {
     @include vertical-border(right);
     border-bottom: none; 
   }
 }
 .link-wishlist {
  @extend %add-to-links;
  background-color: $footerbg;
}
}

#block-related, #recently-viewed-items, #compare-items {
  padding: 0;
  li {
    @include vertical-border(bottom);
    border-right: none;
    border-bottom-color: $footerbg;
  }
}

.paypal-logo {
  margin-top: 1em;
}

