/*
  Basic button
*/
.button { //old .basic
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: none;
  border: 0;
  border-bottom: 3px darken($logobg, 30%) solid;
  border-top: 1px darken($logobg, 20%) solid;
  border-right: 1px darken($logobg, 20%) solid;
  border-left: 1px darken($logobg, 20%) solid;
  background-color: $basicbtn;
  color: $headlines;
  margin: .1em 0;
  padding: 0.7em 1em;
  font-size: 1rem;
  line-height: 1;
  font-family: 'clear_sansbold';
  text-align: center;
  text-decoration: none;
  border-radius: 0.35em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.addcart {
  @extend .button;
  color: #fff;
  background-color: $addcartbtn;
}

.checkout {
  @extend .button;
  color: #fff;
  background-color: $checkoutbtn;
}

.btn-proceed-checkout {
  @extend .button;
  color: #fff;
  background-color: $checkoutbtn;
  border: 1px darken($checkoutbtn, 10%) solid;
  border-bottom: 5px darken($checkoutbtn, 10%) solid;
  padding-top: 1em;
  padding-bottom: 1em;
}

.small-button {
  @extend .button;
  font-size: .85rem;
  padding: .3em .5em;
  margin: .4em;
}

.secondary-button {
  @extend %add-to-links;
}

.account-button {
  @extend .button;
  background-color: darken($footerbg, 10%);
  border-bottom: 3px darken($footerbg, 50%) solid;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.current {
  background-color: red;
}
