.proceedbutton, .multiple-addresses {
  // background-color: #eee;
  text-align: center;
  margin-bottom: 1em;
  @include breakpoint(medium) {
    text-align: right;
  }
}

.cart-items {
  @extend %dotted-boxborder;
  // background-color: #555;
  margin: 0 auto 1em auto;
  width: 100%;
  fieldset {
    border: 0;
  }
}

.changelink {
  @extend %add-to-links;
}

.shopping-cart {
  tbody {
    tr {
      text-align: center;
    }
    td {
      display: block;
      @include breakpoint(medium) {
        display: table-cell;
        text-align: left;
      }
    }
    .a-center, .a-right {
    margin: .7em 0;
    @include breakpoint(medium) {
      display: table-cell;
    }
  }
}

.cart-image {
  margin-top: 2em;
  @include breakpoint(medium) {
    width: 8%;
  }
}

.product-name-cart {
  @include breakpoint(medium) {
    width: 25%;
  }
}

.cart-lable {
  font-weight: bold;
  @include breakpoint(medium) {
    display: none;
  }
}


.first {
  .cart-image {
    margin-top: 0;
  }
}
td.a-center.last {
  @extend %add-to-links;
  @include breakpoint(medium) {
    //background-color: transparent;
  }
}
}

#checkout-review-table {
  thead {
    // display: none;
  }
  td {
    display: block;
    font-style: italic;
    margin-left: 1em;
  }
  tr {
    // text-align: center;
  }
  .cart-price {
    font-style: normal;
  }
  tfoot {
    font-style: italic;
  }
  .a-center {
    font-style: normal;
  }
  .product-name {
    font-style: normal;
    margin-top: .5em;
    margin-left: -1em;
    color: $headlines;
  }
}

ul.checkout-types {
  padding: 0;
}

thead {
  display: none;
  @include breakpoint(medium) {
    display: table-header-group;
  }
}

tfoot {
  .cart-buttons {
    text-align: center !important;
    button {
      margin: 1em;
    }
  }
}

.item-options {
  dt {
    display: inline-block;
    font-family: clear_sansbold;
  }
  dd {
    display: inline-block;
    margin-left: 5px;
  }
}

// ------------------ Crosssell bellow cart table
.crosssell {
  #crosssell-products-list {
    padding: 0;
  }
  .item {
    @include vertical-border(bottom);
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 70%;
    @include breakpoint(small) {
      @include vertical-border(right);
      border-bottom: none;
      display: inline-block;
      width: 30%;
      margin-right: 3%;
      padding-right: 3%;
      &:last-child {
        margin-right: 0;
        border-right: 0;
      }
    }
    @include breakpoint(medium) {
      width: 22%;
      margin-right: 3%;
      padding-right: 3%;
    }
    vertical-align: top;
    .add-to-links {
      @extend %add-to-links;
    }
    button {
      margin: 1em 0;
    }
  }
}

// ------------------------ Discount and shipping
#discount-coupon-form {
  @extend %box-with-bg;
  background-color: $footerbg;
  .buttons-set {
    margin-top: 1em;
  }
  @include breakpoint(medium) {
    float: left;
    margin: 0;
    width: 25%
  }
}

.shipping {
  @extend %dotted-boxborder;
  @include breakpoint(medium) {
    float: left;
    margin: 0;
    margin-right: 0;
    width: 70%;
    margin-left: 4%;
  }
  ul {
    padding-left: 0;
  }
}

// ------------------------ Grand totals
.totals {
  // background-color: #eee;
  padding: 1em 2em;
  text-align: right;
  @extend %clear;
  width: 100%;
  @include breakpoint(medium) {
    float: right;
    width: 70%;
  }
  .grandtotal {
    font-size: 1.5em;
  }
}