input[type=text],
input[type=number],
input[type=password],
input[type=email] {
  padding: 0.65rem 1rem;
  font-size: 1rem;
  // font-family: 'clear_sansbold';
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: .4em;
}

input[type=radio],
input[type=checkbox] {
  margin: .3em;
}

#search {
  width: 14em;
}

.input-box {
  input[type=text],
  input[type=number],
  input[type=password],
  input[type=email] {
    width: 100%;
  }
  margin: 1em auto;
  select {
    width: 100%;
    margin-bottom: 1em;
  }
  @include breakpoint(medium) {
    width: 90%;
  }
}

.validation-advice {
  color: $inputerrors;
  font-size: .8em;
  text-align: right;
}
