// Styles for displaying prices

.price-box {
  // background-color: #eee;
}

.regular-price {
  @include price-display(1.2rem);
}

.old-price {
  margin-bottom: .3em;
  .price {
    @include price-display(1.2rem);
    color: lighten($headlines, 50%);
  }
}

.special-price {
  .price {
    @include price-display(1.5em);
    color: $specialprice; 
  }
}