// Alice Spring theme
// Cold / warm combination. Light colors.
// Cold: light-medium blue
// Warm: Yellow-orange
// Basic buttons: Yellow-orange
// CTA-button: Purple

/* ========== Breakpoints ============== */
@mixin breakpoint($point) {
	@if $point == extra-small {
		@media (min-width: 40em) { @content; }
	}
	@else if $point == small {
		@media (min-width: 47em) { @content; } // 50em
	}
	@else if $point == medium {
		@media (min-width: 56em) { @content; } // 50em
	}
	@else if $point == large {
		@media (min-width: 65em) { @content; }
	}
	@else if $point == big {
		@media (min-width: 97em) { @content; }
	}
	@else if $point == mega {
		@media (min-width: 127em) { @content; }
	}
}

/*
  Colors
*/
$navlistfirst: rgb(200, 200, 200);
$navlistsecond: lighten($navlistfirst, 10%);
$menulinks: rgb(50, 81, 108);
$headerbg: hsl(213, 66%, 70%);
$sidebarbg: rgb(187, 201, 217);
$menubutton: hsl(213, 62%, 42%);
$logobg: hsl(45, 100%, 65%);
$footerbg: rgb(240, 240, 240);
$basicbtn: $logobg;
// $basicbtn: hsl(84, 38%, 50%);
$addcartbtn: rgb(221, 106, 18);
$checkoutbtn: hsl(224, 60%, 45%);
// $checkoutbtn: hsl(213, 62%, 42%);
$headlines: hsl(355, 17%, 15%);
$specialprice: rgb(240, 98, 2);
$proceedbtn: rgb(255, 130, 39);
$accent: hsl(80, 60%, 70%);
$accent-dark: darken($accent, 20%);
$accent-extradark: darken($accent, 45%);
$light-accent: lighten($accent, 25%);
$verylight-accent: rgb(250, 250, 250);
$secondary-button: rgb(187, 201, 217);
$inputerrors: rgb(233, 53, 41);
$inputsuccess: rgb(110, 188, 44);
$logobg-light: lighten($logobg, 60%);
$linkblockbg: lighten($headerbg, 20%);
$borders: $headerbg;
$textlink: lighten($menulinks, 20%);

/*
Vars
*/
$borderstyle: 1px $borders dotted;


/*
  Mixin
*/
@mixin borderradius($radius) {
  -webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin boxshadow {
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

@mixin price-display($size) {
  font-weight: bold;
  font-size: $size;
}

// @mixin right-border {
//   border-right: 1px dotted lighten($headerbg, 50%);
// }

@mixin vertical-border($side) {
  border-#{$side}: $borderstyle;
}


@mixin button-border-light {
  border: 1px dotted $logobg;
  @include borderradius(.3em);
  padding: .2em .3em;
}

@mixin button-border-dark {
  border: 1px dotted darken($logobg, 40%);
  @include borderradius(.3em);
  padding: .2em .3em;
}

%dotted-boxborder {
  @include borderradius(0.5em);
  border: $borderstyle;
  padding: 0.5em;
  width: 80%;
  margin: 0.5em 10%;
}

%box-with-bg {
  @include borderradius(0.5em);
  background-color: lighten($logobg, 20%);
  padding: .5em;
  margin: 1em auto;
  width: 80%;
}

%listborder {
  border-bottom: 1px solid lighten($logobg, 20%);
}

%add-to-links {
  @include button-border-dark;
  background-color: #ffffff;
  font-size: .8em;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding: .2em .5em;
  margin: .4em;
}

@mixin message-type($message-color) {
  border: 1px dotted $message-color;
  color: $message-color;
}


