thead {
  display: none;
  @include breakpoint(medium) {
    display: table-header-group;
  }
}

#my-orders-table {
  td {
    display: block;
    margin-bottom: 1em;
    @include breakpoint(medium) {
      display: table-cell;
      padding: .5em;
    }
  }
  .last {
    margin-bottom: .8em;
  }
  .column-label {
    color: $sidebarbg;
    font-family: 'clear_sansbold';
    @include breakpoint(medium) {
      display: none;
    }
  }
}

.block-cart {
  margin-top: 1.4em;
}

.mini-products-list {
  ol {
    display: block;
    border: 1px solid #999;
  }
  li {
    @include vertical-border(bottom);
    /* border: 1px solid #999; */
    display: inline-block;
    margin-bottom: 1em;
    padding-right: .6em;
    padding-left: .6em;
    width: auto;
  }
  .btn-remove, .btn-edit {
    @extend %add-to-links;
    margin-right: .4em;
  }
  @include breakpoint(medium) {
    li {
     @include vertical-border(right);
     border-bottom: none; 
    }
  }
}