.button {
  font-size: 1.2em;
  text-align: center;
  background-color: silver;
  display: block;
  padding: 0.4em 1em;
  border-radius: 6px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  @include breakpoint(medium) {
    font-size: 1.6em;
    display: inline-block;
  }
}

.small-button {
  @extend .button;
  font-size: 1em;
}