.breadcrumbs {
  li {
    display: inline-block;
    list-style-type: none;
  }
}

section {
  // background-color: red;
}

.category-products {
  background-color: silver;
}

.product-grid {
  li {
    display: inline-block;
  }
}