.breadcrumbs {
  li {
    display: inline-block;
    list-style-type: none;
  }
}

section {
  // background-color: red;
}

.category-products {
  // background-color: silver;
  width: 100%;
}

.toolbar {
  // background-color: darkgrey;
  font-size: .8em;
  text-align: center;
  .pager {
    // background-color: lightblue;
    @include breakpoint(small) {
      float: left;
      text-align: left;
      width: 40%;
    }
  }
  .limiter {
    // background-color: red;
  }
  .sorter {
    // background-color: yellow;
    @include breakpoint(small) {
      float: right;
      text-align: right;
      width: 40%;
    }
  }
  .sort-by {
    // background-color: green;
  }
}

.products-grid {
  // background-color: lighten($headerbg, 50%);
  @extend %listborder;
  padding: 0;
  margin: 0;
  // position: relative;
  .item {
    // background-color: lighten($headerbg, 50%);
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
    margin-right: 5%;
    text-align: center;
    width: 40%;
    margin-bottom: .5em;
    margin-top: .5em;
    @include breakpoint(small) {
      width: 25%;
    }
    @include breakpoint(medium) {
      width: 20%;
    }
  }
  .last {
    margin-right: 0;
  }
  .add-to-links {
    font-size: .8em;
    padding: 0;
  }
  .actions {
    
  }
}

.products-list {
  // background-color: #eee;
  padding-left: 0;
  li {
    // background-color: lighten($headerbg, 50%);
    @extend %listborder;
    margin-bottom: 1em;
    @extend %clear;
  }
  .product-shop {
    // background-color: yellow;
    width: 70%;
    float: right;
    @include breakpoint(medium) {
      width: 80%;
    }
    .add-to-links {
      li {
        display: inline-block;
        border: none;
        margin: 1em;
      }
    }
  }
}

.price-box {
  // background-color: lighten($headerbg, 30%);
}