.proceedbutton {
  // background-color: #eee;
  text-align: center;
  @include breakpoint(medium) {
    text-align: right;
  }
}

.cart-items {
  @extend %dotted-boxborder;
  // background-color: #555;
  margin: 0;
  width: 100%;
  fieldset {
    border: 0;
  }
}

.shopping-cart {
  // background-color: #eee;
  tbody {
    tr {
      text-align: center;
    }
    td {
      display: block;
      // text-align: center;
      @include breakpoint(medium) {
        display: table-cell;
        text-align: left;
      }
    }
    .a-center, .a-right {
    // display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    @include breakpoint(medium) {
      display: table-cell;
      width: 5%;
    }
  }
}

.cart-image {
  margin-top: 2em;
  @include breakpoint(medium) {
    width: 8%;
  }
}

.product-name-cart {
  @include breakpoint(medium) {
    width: 25%;
  }
}

.cart-lable {
  font-weight: bold;
  @include breakpoint(medium) {
    display: none;
  }
}


.first {
  .cart-image {
    margin-top: 0;
  }
}
td.a-center.last {
  margin: 1em 0;
  padding: .3em;
  background-color: $footerbg;
  @include breakpoint(medium) {
    background-color: transparent;
  }
}
}

#shopping-cart-table {
  // background-color: yellow;
}

ul.checkout-types {
  padding: 0;
}

thead {
  display: none;
  @include breakpoint(medium) {
    display: table-header-group;
  }
}

tfoot {
  .cart-buttons {
    // background-color: green;
    text-align: center !important;
    button {
      margin: 1em;
    }
  }
}

.item-options {
  dt {
    display: inline-block;
    font-family: clear_sansbold;
  }
  dd {
    display: inline-block;
    margin-left: 5px;
  }
}

// ------------------ Crosssell bellow cart table
.crosssell {
  // background-color: #eee;
  #crosssell-products-list {
    padding: 0;
  }
  .item {
    // background-color: #666;
    @include right-border;
    display: inline-block;
    @include breakpoint(small) {
      width: 30%;
      margin-right: 3%;
      padding-right: 3%;
    }
    @include breakpoint(medium) {
      width: 22%;
      margin-right: 3%;
      padding-right: 3%;
    }
    vertical-align: top;
    &:last-child {
      margin-right: 0;
      // border-right: 0;
    }
    .add-to-links {
      @extend %add-to-links;
    }
    button {
      margin: 1em 0;
    }
  }
}

// ------------------------ Discount and shipping
#discount-coupon-form {
  // background-color: red;
  @extend %dotted-boxborder;
  .buttons-set {
    margin-top: 1em;
  }
  @include breakpoint(medium) {
    float: left;
    margin: 0;
    width: 25%
  }
}

.shipping {
  @extend %dotted-boxborder;
  @include breakpoint(medium) {
    float: left;
    margin: 0;
    margin-right: 0;
    width: 70%;
    margin-left: 4%;
  }
  ul {
    padding-left: 0;
  }
  select {
  width: 100%;
  margin-bottom: 1em;
}
}

// ------------------------ Grand totals
.totals {
  // background-color: #eee;
  padding: 1em 2em;
  text-align: right;
  @extend %clear;
  width: 100%;
  @include breakpoint(medium) {
    float: right;
    width: 70%;
  }
  .grandtotal {
    font-size: 1.5em;
  }
}