input[type=text],
input[type=password],
input[type=email] {
  padding: 0.85em 1.2em;
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: .4em;
  // width: 100%;
}

input[type=radio], input[type=checkbox] {
  margin: .3em;
}

// select {
//   width: 100%;
//   margin-bottom: 1em;
//   @include breakpoint(medium) {
//     width: 50%;
//   }
// }

.input-box {
  input[type=text] {
    width: 100%;
  }
  margin-bottom: 1em;
  select {
    width: 100%;
    margin-bottom: 1em;
  }
  @include breakpoint(medium) {
    width: 90%;
  }
}

.validation-advice {
  color: $inputerrors;
  font-size: .8em;
  text-align: right;
}
