input[type=text],
input[type=password],
input[type=email] {
  padding: 0.85em 1.2em;
  font-size: 0.875em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  border-radius: .4em;
}

select {
  width: 100%;
  margin-bottom: 1em;
}