.add-info {
  @extend %dotted-boxborder;
  h2 {
    border-bottom: 1px $light-accent solid;
  }
}

.data-table {
  // background-color: #aaa;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
  tr {
    border-bottom: 1px $light-accent solid;
    padding: .3em;
  }
  th {
    border-right: 1px $light-accent solid;
    padding: .3em;
  }
  td.data {
    padding-left: .5em;
  }
}

ul.messages {
  padding-left: 0;
  li.error-msg {
    text-align: center;
    background-color: $verylight-accent;
    ul {
      padding-left: 0;  
    }
    span {
      color: $inputerrors;
    }
  }
}

.add-to-links {
  li {
    @extend %add-to-links;
    display: inline-block;
    font-size: 1em;
    margin: .7em 0;
  }
}


dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

.account-links {
  padding: 1em;
  overflow: hidden;
  li {
    @extend .account-button;
    float: left;
    /* background-color: red; */
    margin: 2%;
    padding: .5em;
    width: 45%;
    &:nth-child(odd) {
      clear: left;
    }
  }
  @include breakpoint(medium) {
    li {
      width: 28%;
      &:nth-child(3n+1) {
        clear: left;
      }
      &:nth-child(odd) {
        clear: none;
      }
    }
  }
  @include breakpoint(large) {
    li {
      width: 20%;
      &:nth-child(4n+1) {
        clear: left;
      }
      &:nth-child(3n+1) {
        clear: none;
      }
    }
  }
}