@font-face {
    font-family: 'andadabold';
    src: url('..../fonts/andada-bold-webfont.eot');
    src: url('..../fonts/andada-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andada-bold-webfont.woff') format('woff'),
         url('../fonts/andada-bold-webfont.ttf') format('truetype'),
         url('../fonts/andada-bold-webfont.svg#andadabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'andadabold_italic';
    src: url('../fonts/andada-bolditalic-webfont.eot');
    src: url('../fonts/andada-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andada-bolditalic-webfont.woff') format('woff'),
         url('../fonts/andada-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/andada-bolditalic-webfont.svg#andadabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'andadaitalic';
    src: url('../fonts/andada-italic-webfont.eot');
    src: url('../fonts/andada-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andada-italic-webfont.woff') format('woff'),
         url('../fonts/andada-italic-webfont.ttf') format('truetype'),
         url('../fonts/andada-italic-webfont.svg#andadaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'andadaregular';
    src: url('../fonts/andada-regular-webfont.eot');
    src: url('../fonts/andada-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andada-regular-webfont.woff') format('woff'),
         url('../fonts/andada-regular-webfont.ttf') format('truetype'),
         url('../fonts/andada-regular-webfont.svg#andadaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
  font-family: "andadaregular"; 
  font-size: 1.1em;
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  &.payoff {
    font-size: 1.7em;
    font-weight: bold;
    color: grey;
  }
}

h1 {
  font-family: "andadabold"; 
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.3em;
  margin-top: 0.4em;
  text-align: center;
  @include breakpoint(medium) {
    font-size: 4em;
  }
}

h2, h3, h4 {
  font-family: "andadabold"; 
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

h2 {
  font-size: 2.5em;
  margin-top: 1em;
}

h3 {
  font-size: 1.5em;
}

.firstparagraph {
  font-size: 1.4em;
}