/* ========== Breakpoints ============== */
@mixin breakpoint($point) {
	@if $point == small {
		@media (min-width: 40em) { @content; }
	}
	@else if $point == medium {
		@media (min-width: 45em) { @content; }
	}
	@else if $point == large {
		@media (min-width: 65em) { @content; }
	}
	@else if $point == big {
		@media (min-width: 94em) { @content; }
	}
}

/*
  Colors
*/

$navlistfirst: rgb(200, 200, 200);
$navlistsecond: lighten($navlistfirst, 10%);
$menulinks: rgb(50, 81, 108);
$headerbg: rgb(80, 85, 96);
$sidebarbg: rgb(187, 201, 217);
$menubutton: #E3E2C8;
$logobg: #e0f255;
$footerbg: rgb(240, 240, 240);
$basicbtn: rgb(204, 221, 240);
$addcartbtn: rgb(221, 106, 18);
$checkoutbtn: rgb(7, 100, 166);

/*
  Mixin
*/
@mixin borderradius($radius) {
  -webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin boxshadow {
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}